:root{
  --main-header-bg: #F5F7FA;
  --logo-p: #263238;
  --link-color-bg: #4CAF4F;
  --nav-a-color: #18191f;
  --link-color: #fff;
  --hero-section-h1:#4D4D4D;
  --hero-section-p:#717171;
  --customer-brand-color: #89939E;
}